# Visual Studio 文件
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# 编译输出
bin/
obj/

# NuGet 包
packages/

# 其他
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc 
.DS_Store
.idea
*__gen.go
*__ignore.go
*.swp
*.swo
~i_*
ig_*
zzzig_*
